@model Programa

@{
    ViewData["Title"] = "Buscar Programa";
}
<select id="programa" asp-for="Idioma" asp-items="@ViewBag.Idiomas" class="form-control">
    <option id="seleccionDisable">Seleccione una opcion</option>
</select>
<span asp-validation-for="Idioma" class="text-danger"></span>
<input id="btnBCurso" type="submit" class="invisible" style="width: 0px"/>

@section Scripts{
    @{
        <script src="~/js/IdiomasJscript.js"></script>
    }
}
